

header {
  margin-left: 1.1rem;
  margin-right: 1.1rem;
  background-color: #476e9e;
  border-radius:0.3rem;
  color: #ffffff;
  padding:0.2rem 3.1rem;
  margin-bottom: 1.9rem;
}

body {
  font-family: Trebuchet MS, sans-serif;
  background-color: #F7F9F9;
  color: #283966;
  margin-bottom: 0.1rem;
  height: 100%;
}


h1.title {
  text-align: center;
}


section {
  margin-left: 2rem;
}

.inactive path{
  fill: none;
  stroke:lightgrey;
  stroke-opacity: .4;
}

.active path{
  fill: none;
  stroke-width: 0.1rem;
  stroke:#0081af;
}

.input-button, input::file-selector-button {
  appearance: none;
  background-color: #FAFBFC;
  border: 0.05rem solid rgba(27, 31, 35, 0.15);
  border-radius: 0.4rem;
  box-shadow: rgba(27, 31, 35, 0.04) 0 0.05rem 0, rgba(255, 255, 255, 0.25) 0 0.05rem 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.25rem;
  list-style: none;
  padding: 0.4rem 1rem;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin: 0.4rem 0.6rem 0.25rem 1.25rem;
}

.input-button:hover, input::file-selector-button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.input-button:disabled, input::file-selector-button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.input-button:active, input::file-selector-button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 0.05rem 0 inset;
  transition: none 0s;
}

.seperator {
  visibility: hidden;
  border: 0.25rem solid;
  color: #476e9e;
  background-color: #476e9e;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 0.3rem;
}

.plot {

}

.checkboxHeader {
  visibility: hidden;
}

.checkboxContainer {
  margin-right: 1.25rem;
}

h4 {
  visibility: hidden;
}
.invertContainerHeader {
  visibility: hidden;
}

.dimension-button {
  appearance: none;
  background-color: #FAFBFC;
  border: 0.01rem solid rgba(27, 31, 35, 0.15);
  border-radius: 0.4rem;
  box-shadow: rgba(27, 31, 35, 0.04) 0 0.01rem 0, rgba(255, 255, 255, 0.25) 0 0.01rem 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.25rem;
  list-style: none;
  padding: 0.4rem 1rem;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin-bottom: 0.25rem;
  margin-top: 0.3rem;
  margin-right: 0.6rem;
}

.dimension-button:hover, input::file-selector-button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.dimension-button:disabled, input::file-selector-button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.dimension-button:active, input::file-selector-button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 0.01rem 0 inset;
  transition: none 0s;
}

div#parallelcoords {
  width: 75rem;
  height:25rem;
  overflow-x: auto;
  margin-left: 2rem;
  margin-right: 2rem;
}
