.DS_Store
node_modules
/build
/dist
.env
.env.*
!.env.example
package-lock.json
/package
.prettierrc
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
