
body {
  margin: 1rem;
  color: black;
  background-color: #ffffff;
  font: normal small Verdana, sans-serif;
  /* allow words to be broken at hyphenation points */
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}


/* turn hyphens off for code, tt, and kbd */

code, var, kbd, samp, listing, plaintext, xmp, abbr {
  hyphens: none; 
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
}



img { border: none; }


h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 1.4rem;
  margin: 0 0 0.7rem 0;
}

h2 {
  font-size: 1.2rem;
  margin: 0 0 0.6rem 0;
}

h3 {
  font-size: 1.1rem;
  margin: 0 0 0.55rem 0;
}

h4 {
  font-size: 1.0rem;
  margin: 0 0 0.5rem 0;
}

h5 {
  font-size: 1.0rem;
  margin: 0 0 0.5rem 0;
}

h6 {
  font-size: 1.0rem;
  margin: 0 0 0.5rem 0;
}

p {
  margin: 0 0 1rem 0;
  text-align: justify;
}


/* indent first line of each para 2..n  */
p + p {
  text-indent: 1em;
}


blockquote {
  margin: 0 2rem 1rem 2rem;
}




ol, ul {
  margin-bottom: 1rem;
}


ol {
  list-style: decimal;
}

ul ul ol ol, ul ol ul ol, ol ul ol ol, ol ol ul ol, ol ul ol, ol ol {
  list-style: lower-alpha;
}

ol ul ol ol, ol ol ul ol, ul ol ol ol, ol ol ol {
  list-style: lower-roman;
}

ol ol ol ol {
  list-style: decimal;
}



ul {
  list-style: disc;
}

ul ul, ol ol ul ul, ol ul ol ul, ul ol ol ul, ol ul ul, ul ol ul {
  list-style: circle;
}

ol ul ul ul, ul ol ul ul, ul ul ol ul, ul ul ul {
  list-style: square;
}

ul ul ul ul {
  list-style: disc;
}


li {
  margin: 0.5em 0 1em 2em;
}


pre {
  font-size: 0.8rem;
  margin-bottom: 2em;
  font-family: monospace;
}


div.tooltip {
    position: absolute;
    text-align: center;
    width: 4em;
    height: 2em;
    padding: 0.7em;
    font: 1em sans-serif;
    background: lightsteelblue;
    border: 0em;
    border-radius: 0.5em;
    pointer-events: none;
}


.dots {
  stroke-width: 5px;
  stroke: violet;
  stroke-opacity: 0;
}